<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/jacob_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np

In [0]:
url = 'https://raw.githubusercontent.com/nurfnick/Cantrell_Jackson/master/Support-Oct18-Sept19.csv'

In [0]:

df = pa.read_csv(url)
pa.set_option('display.max_rows', df2.shape[0]+1)

In [66]:
df

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
1           36           19  ...                  2                     1
2           44           20  ...                  1                     1
3           54           20  ...                  1                     1
4           55           23  ...                  1                     1
..         ...          ...  ...                ...                   ...
279       1009           18  ...                  1                     1
280       1012           18  ...                  1                     3
281       1014           18  ...                  2                     3
282       1016           18  ...                  1                     2
283       1017           18  ...                  0                     3

[284 rows x 13 columns]

In [0]:
df2 =df[df['Weight']==3]
df3 =df[df['Weight']==2]
df4 =df[df['Weight']==1]
df5 =df[df['Weight']==4]
df6 =df[df['Weight']==5]
df7 =df[df['Weight']==6]

In [120]:
 for x in range(0, 100):
         print("cust %d =df[df['HS Customer']== %d ]" % (x,x))

cust 0 =df[df['HS Customer']== 0 ]
cust 1 =df[df['HS Customer']== 1 ]
cust 2 =df[df['HS Customer']== 2 ]
cust 3 =df[df['HS Customer']== 3 ]
cust 4 =df[df['HS Customer']== 4 ]
cust 5 =df[df['HS Customer']== 5 ]
cust 6 =df[df['HS Customer']== 6 ]
cust 7 =df[df['HS Customer']== 7 ]
cust 8 =df[df['HS Customer']== 8 ]
cust 9 =df[df['HS Customer']== 9 ]
cust 10 =df[df['HS Customer']== 10 ]
cust 11 =df[df['HS Customer']== 11 ]
cust 12 =df[df['HS Customer']== 12 ]
cust 13 =df[df['HS Customer']== 13 ]
cust 14 =df[df['HS Customer']== 14 ]
cust 15 =df[df['HS Customer']== 15 ]
cust 16 =df[df['HS Customer']== 16 ]
cust 17 =df[df['HS Customer']== 17 ]
cust 18 =df[df['HS Customer']== 18 ]
cust 19 =df[df['HS Customer']== 19 ]
cust 20 =df[df['HS Customer']== 20 ]
cust 21 =df[df['HS Customer']== 21 ]
cust 22 =df[df['HS Customer']== 22 ]
cust 23 =df[df['HS Customer']== 23 ]
cust 24 =df[df['HS Customer']== 24 ]
cust 25 =df[df['HS Customer']== 25 ]
cust 26 =df[df['HS Customer']== 26 ]
cust 27 =df[df['HS Customer']== 27 ]
cust 28 =df[df['HS Customer']== 28 ]
cust 29 =df[df['HS Customer']== 29 ]
cust 30 =df[df['HS Customer']== 30 ]
cust 31 =df[df['HS Customer']== 31 ]
cust 32 =df[df['HS Customer']== 32 ]
cust 33 =df[df['HS Customer']== 33 ]
cust 34 =df[df['HS Customer']== 34 ]
cust 35 =df[df['HS Customer']== 35 ]
cust 36 =df[df['HS Customer']== 36 ]
cust 37 =df[df['HS Customer']== 37 ]
cust 38 =df[df['HS Customer']== 38 ]
cust 39 =df[df['HS Customer']== 39 ]
cust 40 =df[df['HS Customer']== 40 ]
cust 41 =df[df['HS Customer']== 41 ]
cust 42 =df[df['HS Customer']== 42 ]
cust 43 =df[df['HS Customer']== 43 ]
cust 44 =df[df['HS Customer']== 44 ]
cust 45 =df[df['HS Customer']== 45 ]
cust 46 =df[df['HS Customer']== 46 ]
cust 47 =df[df['HS Customer']== 47 ]
cust 48 =df[df['HS Customer']== 48 ]
cust 49 =df[df['HS Customer']== 49 ]
cust 50 =df[df['HS Customer']== 50 ]
cust 51 =df[df['HS Customer']== 51 ]
cust 52 =df[df['HS Customer']== 52 ]
cust 53 =df[df['HS Customer']== 53 ]
cust 54 =df[df['HS Customer']== 54 ]
cust 55 =df[df['HS Customer']== 55 ]
cust 56 =df[df['HS Customer']== 56 ]
cust 57 =df[df['HS Customer']== 57 ]
cust 58 =df[df['HS Customer']== 58 ]
cust 59 =df[df['HS Customer']== 59 ]
cust 60 =df[df['HS Customer']== 60 ]
cust 61 =df[df['HS Customer']== 61 ]
cust 62 =df[df['HS Customer']== 62 ]
cust 63 =df[df['HS Customer']== 63 ]
cust 64 =df[df['HS Customer']== 64 ]
cust 65 =df[df['HS Customer']== 65 ]
cust 66 =df[df['HS Customer']== 66 ]
cust 67 =df[df['HS Customer']== 67 ]
cust 68 =df[df['HS Customer']== 68 ]
cust 69 =df[df['HS Customer']== 69 ]
cust 70 =df[df['HS Customer']== 70 ]
cust 71 =df[df['HS Customer']== 71 ]
cust 72 =df[df['HS Customer']== 72 ]
cust 73 =df[df['HS Customer']== 73 ]
cust 74 =df[df['HS Customer']== 74 ]
cust 75 =df[df['HS Customer']== 75 ]
cust 76 =df[df['HS Customer']== 76 ]
cust 77 =df[df['HS Customer']== 77 ]
cust 78 =df[df['HS Customer']== 78 ]
cust 79 =df[df['HS Customer']== 79 ]
cust 80 =df[df['HS Customer']== 80 ]
cust 81 =df[df['HS Customer']== 81 ]
cust 82 =df[df['HS Customer']== 82 ]
cust 83 =df[df['HS Customer']== 83 ]
cust 84 =df[df['HS Customer']== 84 ]
cust 85 =df[df['HS Customer']== 85 ]
cust 86 =df[df['HS Customer']== 86 ]
cust 87 =df[df['HS Customer']== 87 ]
cust 88 =df[df['HS Customer']== 88 ]
cust 89 =df[df['HS Customer']== 89 ]
cust 90 =df[df['HS Customer']== 90 ]
cust 91 =df[df['HS Customer']== 91 ]
cust 92 =df[df['HS Customer']== 92 ]
cust 93 =df[df['HS Customer']== 93 ]
cust 94 =df[df['HS Customer']== 94 ]
cust 95 =df[df['HS Customer']== 95 ]
cust 96 =df[df['HS Customer']== 96 ]
cust 97 =df[df['HS Customer']== 97 ]
cust 98 =df[df['HS Customer']== 98 ]
cust 99 =df[df['HS Customer']== 99 ]

In [122]:
 for x in range(0, 100):
      print( " Total%d = sum(cust%d['Customer interactions']) " % (x,x))

 Total0 = sum(cust0['Customer interactions'])
 Total1 = sum(cust1['Customer interactions'])
 Total2 = sum(cust2['Customer interactions'])
 Total3 = sum(cust3['Customer interactions'])
 Total4 = sum(cust4['Customer interactions'])
 Total5 = sum(cust5['Customer interactions'])
 Total6 = sum(cust6['Customer interactions'])
 Total7 = sum(cust7['Customer interactions'])
 Total8 = sum(cust8['Customer interactions'])
 Total9 = sum(cust9['Customer interactions'])
 Total10 = sum(cust10['Customer interactions'])
 Total11 = sum(cust11['Customer interactions'])
 Total12 = sum(cust12['Customer interactions'])
 Total13 = sum(cust13['Customer interactions'])
 Total14 = sum(cust14['Customer interactions'])
 Total15 = sum(cust15['Customer interactions'])
 Total16 = sum(cust16['Customer interactions'])
 Total17 = sum(cust17['Customer interactions'])
 Total18 = sum(cust18['Customer interactions'])
 Total19 = sum(cust19['Customer interactions'])
 Total20 = sum(cust20['Customer interactions'])
 Total21 = sum(cust21['Customer interactions'])
 Total22 = sum(cust22['Customer interactions'])
 Total23 = sum(cust23['Customer interactions'])
 Total24 = sum(cust24['Customer interactions'])
 Total25 = sum(cust25['Customer interactions'])
 Total26 = sum(cust26['Customer interactions'])
 Total27 = sum(cust27['Customer interactions'])
 Total28 = sum(cust28['Customer interactions'])
 Total29 = sum(cust29['Customer interactions'])
 Total30 = sum(cust30['Customer interactions'])
 Total31 = sum(cust31['Customer interactions'])
 Total32 = sum(cust32['Customer interactions'])
 Total33 = sum(cust33['Customer interactions'])
 Total34 = sum(cust34['Customer interactions'])
 Total35 = sum(cust35['Customer interactions'])
 Total36 = sum(cust36['Customer interactions'])
 Total37 = sum(cust37['Customer interactions'])
 Total38 = sum(cust38['Customer interactions'])
 Total39 = sum(cust39['Customer interactions'])
 Total40 = sum(cust40['Customer interactions'])
 Total41 = sum(cust41['Customer interactions'])
 Total42 = sum(cust42['Customer interactions'])
 Total43 = sum(cust43['Customer interactions'])
 Total44 = sum(cust44['Customer interactions'])
 Total45 = sum(cust45['Customer interactions'])
 Total46 = sum(cust46['Customer interactions'])
 Total47 = sum(cust47['Customer interactions'])
 Total48 = sum(cust48['Customer interactions'])
 Total49 = sum(cust49['Customer interactions'])
 Total50 = sum(cust50['Customer interactions'])
 Total51 = sum(cust51['Customer interactions'])
 Total52 = sum(cust52['Customer interactions'])
 Total53 = sum(cust53['Customer interactions'])
 Total54 = sum(cust54['Customer interactions'])
 Total55 = sum(cust55['Customer interactions'])
 Total56 = sum(cust56['Customer interactions'])
 Total57 = sum(cust57['Customer interactions'])
 Total58 = sum(cust58['Customer interactions'])
 Total59 = sum(cust59['Customer interactions'])
 Total60 = sum(cust60['Customer interactions'])
 Total61 = sum(cust61['Customer interactions'])
 Total62 = sum(cust62['Customer interactions'])
 Total63 = sum(cust63['Customer interactions'])
 Total64 = sum(cust64['Customer interactions'])
 Total65 = sum(cust65['Customer interactions'])
 Total66 = sum(cust66['Customer interactions'])
 Total67 = sum(cust67['Customer interactions'])
 Total68 = sum(cust68['Customer interactions'])
 Total69 = sum(cust69['Customer interactions'])
 Total70 = sum(cust70['Customer interactions'])
 Total71 = sum(cust71['Customer interactions'])
 Total72 = sum(cust72['Customer interactions'])
 Total73 = sum(cust73['Customer interactions'])
 Total74 = sum(cust74['Customer interactions'])
 Total75 = sum(cust75['Customer interactions'])
 Total76 = sum(cust76['Customer interactions'])
 Total77 = sum(cust77['Customer interactions'])
 Total78 = sum(cust78['Customer interactions'])
 Total79 = sum(cust79['Customer interactions'])
 Total80 = sum(cust80['Customer interactions'])
 Total81 = sum(cust81['Customer interactions'])
 Total82 = sum(cust82['Customer interactions'])
 Total83 = sum(cust83['Customer interactions'])
 Total84 = sum(cust84['Customer interactions'])
 Total85 = sum(cust85['Customer interactions'])
 Total86 = sum(cust86['Customer interactions'])
 Total87 = sum(cust87['Customer interactions'])
 Total88 = sum(cust88['Customer interactions'])
 Total89 = sum(cust89['Customer interactions'])
 Total90 = sum(cust90['Customer interactions'])
 Total91 = sum(cust91['Customer interactions'])
 Total92 = sum(cust92['Customer interactions'])
 Total93 = sum(cust93['Customer interactions'])
 Total94 = sum(cust94['Customer interactions'])
 Total95 = sum(cust95['Customer interactions'])
 Total96 = sum(cust96['Customer interactions'])
 Total97 = sum(cust97['Customer interactions'])
 Total98 = sum(cust98['Customer interactions'])
 Total99 = sum(cust99['Customer interactions'])

In [123]:
for x in range(0, 100):
      print( " print(Total%d)"%(x))

 print(Total0)
 print(Total1)
 print(Total2)
 print(Total3)
 print(Total4)
 print(Total5)
 print(Total6)
 print(Total7)
 print(Total8)
 print(Total9)
 print(Total10)
 print(Total11)
 print(Total12)
 print(Total13)
 print(Total14)
 print(Total15)
 print(Total16)
 print(Total17)
 print(Total18)
 print(Total19)
 print(Total20)
 print(Total21)
 print(Total22)
 print(Total23)
 print(Total24)
 print(Total25)
 print(Total26)
 print(Total27)
 print(Total28)
 print(Total29)
 print(Total30)
 print(Total31)
 print(Total32)
 print(Total33)
 print(Total34)
 print(Total35)
 print(Total36)
 print(Total37)
 print(Total38)
 print(Total39)
 print(Total40)
 print(Total41)
 print(Total42)
 print(Total43)
 print(Total44)
 print(Total45)
 print(Total46)
 print(Total47)
 print(Total48)
 print(Total49)
 print(Total50)
 print(Total51)
 print(Total52)
 print(Total53)
 print(Total54)
 print(Total55)
 print(Total56)
 print(Total57)
 print(Total58)
 print(Total59)
 print(Total60)
 print(Total61)
 print(Total62)
 print(Total63)
 print(Total64)
 print(Total65)
 print(Total66)
 print(Total67)
 print(Total68)
 print(Total69)
 print(Total70)
 print(Total71)
 print(Total72)
 print(Total73)
 print(Total74)
 print(Total75)
 print(Total76)
 print(Total77)
 print(Total78)
 print(Total79)
 print(Total80)
 print(Total81)
 print(Total82)
 print(Total83)
 print(Total84)
 print(Total85)
 print(Total86)
 print(Total87)
 print(Total88)
 print(Total89)
 print(Total90)
 print(Total91)
 print(Total92)
 print(Total93)
 print(Total94)
 print(Total95)
 print(Total96)
 print(Total97)
 print(Total98)
 print(Total99)

In [76]:

Total = sum(cust1['Customer interactions'])
print (Total)
Total = sum(cust2['Customer interactions'])
print (Total)
Total = sum(cust3['Customer interactions'])
print (Total)
Total = sum(cust4['Customer interactions'])
print (Total)
Total = sum(cust5['Customer interactions'])
print (Total)
Total = sum(cust6['Customer interactions'])
print (Total)
Total = sum(cust7['Customer interactions'])
print (Total)
Total = sum(cust8['Customer interactions'])
print (Total)
Total = sum(cust9['Customer interactions'])
print (Total)
Total = sum(cust10['Customer interactions'])
print (Total)
Total = sum(cust11['Customer interactions'])
print (Total)
Total = sum(cust12['Customer interactions'])
print (Total)
Total = sum(cust13['Customer interactions'])
print (Total)
Total = sum(cust14['Customer interactions'])
print (Total)
Total = sum(cust15['Customer interactions'])
print (Total)
Total = sum(cust16['Customer interactions'])
print (Total)
Total = sum(cust17['Customer interactions'])
print (Total)
Total = sum(cust18['Customer interactions'])
print (Total)
Total = sum(cust19['Customer interactions'])
print (Total)
Total = sum(cust20['Customer interactions'])
print (Total)

0
0
0
1
2
0
0
0
0
3
0
0
0
0
11
4
0
38
6
31

In [0]:
Total = sum(df2['Agent interactions'])
print (Total)
Total = sum(df2['Customer interactions'])
print (Total)
Total = sum(df3['Agent interactions'])
print (Total)
Total = sum(df3['Customer interactions'])
print (Total)
Total = sum(df4['Agent interactions'])
print (Total)
Total = sum(df4['Customer interactions'])
print (Total)
Total = sum(df5['Agent interactions'])
print (Total)
Total = sum(df5['Customer interactions'])
print (Total)
Total = sum(df6['Agent interactions'])
print (Total)
Total = sum(df6['Customer interactions'])
print (Total)
Total = sum(df7['Agent interactions'])
print (Total)
Total = sum(df7['Customer interactions'])
print (Total)

In [74]:
df2

     Ticket ID  HS Customer  ... Agent interactions Customer interactions
0           35           18  ...                  1                     1
9           76           18  ...                  2                     1
13          87           18  ...                  0                     1
17         101           18  ...                  0                     2
22         106           21  ...                  1                     1
..         ...          ...  ...                ...                   ...
273        999           18  ...                  0                     2
274       1000           18  ...                  1                     1
277       1007           25  ...                  2                     2
278       1008           18  ...                  1                     2
282       1016           18  ...                  1                     2

[82 rows x 13 columns]

In [0]:
Weight2 =df[df['Weight']==2]

In [0]:
Weight2

In [0]:
Weight1=df[df['Weight']==1]

In [0]:
Weight1