<a href="https://colab.research.google.com/github/nurfnick/Cantrell_Jackson/blob/master/ReadingZipfiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pa
import numpy as np
from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen

In [0]:
#to copy url, right click on "download" and press "copy link address"
url = urlopen('https://github.com/nurfnick/Cantrell_Jackson/raw/master/hs_customer_18.zip')

In [43]:
zipfile = ZipFile(BytesIO(url.read()))
df = pa.read_csv(zipfile.open('hs_customer_18.csv'))
df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        265778  18     845  ...  1555360009  job_description   842
0       265778  18   845.0  ...  1555360009            truck  3222
1       265778  18   845.0  ...  1555360009        bill_bbls    80
2       265778  18   845.0  ...  1555360009       bill_hours     3
3       265778  18   845.0  ...  1555360009        bill_type     2
4       265778  18   845.0  ...  1555360009   price_per_hour   115
...        ...  ..     ...  ...         ...              ...   ...
853647  322697  18  1944.6  ...  1563976736            truck  1353
853648  322697  18  1944.6  ...  1563885063    price_per_bbl   105
853649  322697  18  1944.6  ...  1563976736    price_per_bbl   105
853650  322697  18  1944.6  ...  1563885063   price_per_hour   105
853651  322697  18  1944.6  ...  1563976736   price_per_hour   105

[853652 rows x 9 columns]